.container {
  margin-block: 2.5rem;
}
.servicePic {
  height: 13.75rem;
  width: 100%;
  object-fit: cover;
  object-position: top;
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
}
.servicesTop h1 {
  font-size: 2.5rem;
}
.servicesWrapper {
  margin-inline: 1rem;
  width: 90vw;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: auto;
  overflow-x: auto;
  padding-bottom: 10px;
  padding-top: 10px;
  scrollbar-width: none;
}
.servicesWrapper::-webkit-scrollbar {
  display: none;
}
.servicesWrapper .card {
  border-radius: 10px;
  flex-shrink: 0;
  width: 350px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 300ms ease-in-out;
}
.card:hover {
  transform: scale(1.02);
}
.serviceContent {
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
  padding-bottom: 1.2rem;
}
.serviceContent .title {
  font-weight: 600;
  font-size: 1.2rem;
  margin-block: 0.5rem;
}
.serviceContent .time {
  display: flex;
  align-items: center;
  font-size: 1rem;
}
.serviceContent .time small {
  color: grey;
}
.serviceContent p.desc {
  font-size: 15px;
}

@media screen and (max-width: 1024px) {
  .serviceContent .title {
    font-size: 1rem;
    margin-block: 0.25rem;
  }
  .serviceContent .time {
    font-size: 1rem;
  }
  .servicePic {
    /* height: 12rem; */
  }
  .servicesTop h1 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 600px) {
  .servicesWrapper .card {
    width: 280px;
  }
}
