.container {
  margin-block: 2.5rem;
}
.servicePic {
  height: 13.75rem;
  width: 100%;
  object-fit: cover;
  object-position: top;
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
}
.servicesTop h1 {
  font-size: 2.5rem;
}
.servicesWrapper {
  margin-inline: 1rem;
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  margin: auto;
  gap: 1rem;
}
.servicesWrapper .card {
  border-radius: 10px;
  padding: 0;
}
.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}
.serviceContent {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.serviceContent .title {
  font-weight: 600;
  font-size: 1.2rem;
  margin-block: 0.5rem;
}
.serviceContent .time {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
}
.serviceContent .time small {
  color: grey;
}
.serviceContent p {
  text-align: justify;
}
@media screen and (max-width: 1024px) {
  .serviceContent .title {
    font-size: 1rem;
    margin-block: 0.25rem;
  }
  .serviceContent .time {
    font-size: 1rem;
  }
  .serviceContent .desc {
    font-size: 0.9rem;
  }
  .servicesWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .servicePic {
    height: 10rem;
    object-fit: cover;
    object-position: top;
  }
  .servicesTop h1 {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 576px) {
  .servicesWrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .servicePic {
    height: 12rem;
    object-fit: cover;
    object-position: top;
  }
  .card {
    width: 80vw;
    margin: auto;
  }
}
