/* Basic styling for the Welfare page */
.welfareBackground {
  background-image: url("../../assets/bg_1.jpg.webp");
  height: 50dvh;
  width: 100%;
  position: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  background-attachment: fixed;
  overflow: hidden;
}

.welfareOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.welfareContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
.welfareContent h1 {
  font-size: 2.125rem;
  font-weight: 700;
  margin-bottom: 0.625rem;
  text-align: center;
}

.breadCrumbsWrapper {
  /* background-color: #f8f9fa; */
  padding: 0.625rem 0;
  position: absolute;
  z-index: 99;
  bottom: 2rem;
  padding-inline: 6rem;
}

.breadCrumbs {
  display: flex;
  justify-content: center;
  font-size: 1.125rem;
  color: white;
}

.breadCrumbs a {
  color: white;
  text-decoration: none;
}

.welfareMainContent {
  padding: 1.25rem;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: row;
  width: 90vw;
  margin: auto;
}

.welfareMainContent h2 {
  font-size: 1.125rem;
  margin-bottom: 0.625rem;
  padding: 0;
}

.welfareMainContent p {
  font-size: 1.125rem;
  margin-bottom: 1.25rem;
}

.welfareMainContent ul {
  list-style-type: disc;
  margin-left: 1.25rem;
}
.leftWelfarePart {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  flex: 2;
  max-width: 60%;
}
.leftWelfarePart div,
.rightWelfarePart div {
  display: flex;
  flex-direction: column;
}
.rightWelfarePart {
  flex: 1;
  padding: 1rem;
}
.welfareUpdates {
  background-color: #e9ecef;
  padding: 0.625rem;
  margin: 0.625rem 0;
  border-left: 0.3125rem solid #007bff;
  border-radius: 0.5rem;
}
.testimonial {
  background-color: #e9ecef;
  padding: 0.625rem;
  margin: 0.625rem 0;
  border-radius: 1rem 0 1rem 1rem;
  border: 1px solid black;
}

.gallery img {
  width: 100%;
  max-width: 18.75rem;
  margin: 0.625rem;
  display: inline-block;
}

.ctaSection button {
  background-color: #007bff;
  color: white;
  padding: 0.625rem 1.25rem;
  font-size: 1.125rem;
  border: none;
  cursor: pointer;
}

.ctaSection button:hover {
  background-color: #0056b3;
}

/* Tablets and Small Laptops (max-width: 1024px) */
@media screen and (max-width: 1024px) {
  .welfareMainContent {
    width: 85vw; /* Slightly increase content width */
    padding: 1rem; /* Adjust padding */
  }

  .leftWelfarePart {
    max-width: 65%; /* Allocate more space for text */
  }

  .rightWelfarePart {
    max-width: 35%; /* Adjust for images */
  }

  .gallery img {
    max-width: 50%; /* Allow images to stack in smaller grids */
  }
}

@media screen and (max-width: 768px) {
  .welfareBackground {
    background-attachment: fixed;
  }

  .welfareContent h1 {
    font-size: 1.3rem;
  }
  .welfareMainContent {
    display: flex;
    flex-direction: column;
    width: 90vw;
    padding: 1rem;
  }

  .leftWelfarePart,
  .rightWelfarePart {
    min-width: 100%;
    padding: 0.5rem;
  }
  .leftWelfarePart p,
  .rightWelfarePart p {
    font-size: 1rem;
    text-align: justify;
  }

  .ctaSection {
    margin-top: 1.5rem;
  }

  .breadCrumbsWrapper {
    display: none;
  }

  .welfareMainContent ul {
    margin-left: 0;
  }
}
