body {
  line-height: 1.6;
  margin: 0;
  padding: 0;
}
.background {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.background .videoHome {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
  /* opacity: 0; */
  animation: fade 30s infinite;
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.video:nth-of-type(1) {
  animation-delay: 0s;
}
.video:nth-of-type(2) {
  animation-delay: 10s;
}
.video:nth-of-type(3) {
  animation-delay: 20s;
}
.background .content {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  text-align: center;
  z-index: 10;
}
.text {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.textPrimary {
  text-wrap: nowrap;
  font-size: 2rem;
}
.text .whiteLine {
  width: 100%;
  height: 0.1rem;
  background-color: white;
  margin: 0;
}
.background .content .themeText {
  font-size: 3rem;
  color: goldenrod;
  font-weight: 700;
  line-height: 3.5rem;
  letter-spacing: 0.2rem;
  font-family: sans-serif;
}
.midSection {
  position: relative;
  justify-content: center;
  height: 20rem;
  background-color: #f8f9fa;
}

.darkLine {
  width: 100%;
  height: 0.1rem;
  background-color: grey;
}
.Quote {
  font-size: 1.4rem;
  text-align: center;
}
.heading {
  letter-spacing: 0.1rem;
  color: goldenrod;
  text-wrap: nowrap;
}
.quoteText {
  color: black;
  justify-content: center;
  font-size: 2.4rem;
  height: 20rem;
  top: -8%;
  left: 50%;
  transform: translatex(-50%);
  position: absolute;
  margin: auto;
  padding: 4rem;
  z-index: 90;
  width: 90vw;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.quoteText p {
  letter-spacing: 0.1rem;
  width: 100%;
  padding: 0.3rem;
  margin: 0;
}

.servicesTop {
  margin-inline: auto;
  width: fit-content;
  text-align: center;
  margin-block-end: 40px;
}
.servicesTop .text .greyLine {
  background-color: grey;
  width: 100%;
  height: 0.1rem;
}
.contact {
  background-color: aliceblue;
  margin-inline: 6rem;
  padding: 4rem 6rem;
  border-radius: 10px;
  margin-block: 40px 80px;
  text-align: center;
}
.contact h1 {
  line-height: 1.8;
  letter-spacing: 1.8;
}
.contact p {
  line-height: 1.8;
  letter-spacing: 1.8;
  font-size: 20px;
}
.contactText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
}
.animate {
  display: inline-block;
  opacity: 0;
  animation: slideIn 2.5s forwards cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@media screen and (max-width: 992px) {
  .background .content .themeText {
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 0.1rem;
  }
  .text .textPrimary {
    font-size: 1.1rem;
  }
  .midSection {
    height: 40vh;
    width: 90vw;
    margin: auto;
    background-color: white;
  }
  .quoteText {
    display: flex;
    position: relative;
    width: 90vw;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .quoteText p {
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
  }
  .heading {
    font-size: 1.5rem;
  }
  .contact {
    margin-inline: 3rem;
    padding: 2rem 3rem;
  }
  .contact h1 {
    font-size: 1.5rem;
  }
  .contact p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .background .content {
    left: 16px;
    right: 16px;
    transform: translate(0);
  }
  .background .content .themeText {
    font-size: 1.6rem;
    line-height: 1.8rem;
    letter-spacing: 0.1rem;
  }
  .text .textPrimary {
    font-size: 1rem;
  }
  .midSection {
    height: 50vh;
    width: 90vw;
    margin: auto;
    background-color: white;
  }
  .quoteText {
    display: flex;
    position: relative;
    width: 90vw;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .quoteText p {
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
  }
  .heading {
    font-size: 1.3rem;
  }
  .contact {
    margin-inline: 1rem;
    padding: 0.4rem 1rem;
  }
  .contact h1 {
    font-size: 1.3rem;
  }
  .contact p {
    font-size: 1rem;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  10% {
    transform: translateX(-80%);
    opacity: 0;
  }
  20% {
    transform: translateX(-60%);
  }
  30% {
    transform: translateX(-40%);
  }
  40% {
    transform: translateX(-20%);
  }
  50% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
