.overalContainer {
  position: relative;
}
.navContainer {
  background-color: transparent;
  color: white;
  font-size: 1rem;
  position: fixed;
  width: 100%;
  z-index: 999;
  padding-block: 1.25rem;
}
.active {
  padding-block: 1rem;
  align-items: center;
  height: 5.625rem;
  background-color: white;
  transition: all 800ms ease;
  color: black;
  box-shadow: 0px 3px 5px 0px rgba(149, 149, 149, 0.75);
  -webkit-box-shadow: 0px 3px 5px 0px rgba(149, 149, 149, 0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(149, 149, 149, 0.75);
}
.link {
  text-decoration: none;
  color: inherit;
}
.link h3 {
  font-size: 1.5rem;
}
nav {
  padding-inline: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: bold;
  /* width: 80vw; */
  margin: auto;
  font-size: 1.2rem;
}
.links {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.navLinks {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.navLinks li {
  text-decoration: none;
  list-style: none;
  padding: 0.25rem 0.625rem;
  border-radius: 4px;
}

nav h3 {
  margin: 0;
  padding: 0;
}
.logo {
  width: 4rem;
  height: 4rem;
  object-fit: fill;
  object-position: center;
}
.logoName {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  padding: 3px;
}
.logoName h3 {
  white-space: nowrap;
  font-size: 1.9rem;
  font-family: "Cambria";
}
.ministries {
  position: relative;
}
.ministries .ministriesWrapper {
  display: none;
}
.ministries.selected .ministriesWrapper {
  display: block;
  position: absolute;
  top: 110%;
  left: 0;
  width: max-content;
  background-color: white;
  padding: 0.625rem 1rem;
  border-radius: 6px;
  z-index: 99;
  color: black;
}
.ministries:hover .ministriesWrapper {
  display: block;
  position: absolute;
  top: 110%;
  left: 0;
  width: max-content;
  background-color: white;
  padding: 0.625rem 1rem;
  border-radius: 6px;
  z-index: 99;
  color: black;
}
.ministries .ministriesWrapper li {
  line-height: 1.2;
  position: relative;
}
.ministries .arrow,
.programs .arrow {
  display: inline-block;
  margin-left: 0.5rem;
  border: solid white; /* Default color */
  border-width: 0 2px 2px 0;
  vertical-align: middle;
  padding: 3px;
  transform: rotate(45deg);
  transition: transform 0.3s ease, border-color 0.3s ease;
  bottom: 1rem;
}

.navContainer.active .ministries .arrow,
.navContainer.active .programs .arrow {
  border-color: black; /* Color when navContainer is active */
}

.ministries:hover .arrow,
.programs:hover .arrow {
  transform: rotate(-135deg); /* Rotate arrow upwards on hover */
}

.about {
  position: relative;
}
.about .aboutWrapper {
  display: none;
}
.about.selected .aboutWrapper {
  display: block;
  position: absolute;
  top: 110%;
  left: 0;
  width: max-content;
  background-color: white;
  padding: 0.625rem 1rem;
  border-radius: 6px;
  z-index: 99;
  color: black;
}
.about:hover .aboutWrapper {
  display: block;
  position: absolute;
  top: 110%;
  left: 0;
  width: max-content;
  background-color: white;
  padding: 0.625rem 1rem;
  border-radius: 6px;
  z-index: 99;
  color: black;
}
.about .aboutWrapper li {
  line-height: 1.8;
  position: relative;
}
li a {
  text-decoration: none;
  color: inherit;
}
.ministries .ministriesWrapper li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 0.125rem;
  background-color: #ffd615;
  transition: all 300ms ease-in-out;
}
.ministries .ministriesWrapper li:hover::before {
  width: 100%;
}
.ministries .ministriesWrapper li:hover {
  cursor: pointer;
}
.ministries .ministriesWrapper::before {
  content: "";
  position: absolute;
  top: -0.625rem;
  left: 50%;
  width: 0;
  height: 0;
  border-top: 0.625rem solid transparent;
  border-bottom: 0.625rem solid transparent;
  border-left: 0.625rem solid white;
}

.about .aboutWrapper li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 0.125rem;
  background-color: #ffd615;
  transition: all 300ms ease-in-out;
}
.about .aboutWrapper li:hover::before {
  width: 100%;
}
.about .aboutWrapper li:hover {
  cursor: pointer;
}
.about .aboutWrapper::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  width: 0;
  height: 0;
  border-top: 0.625rem solid transparent;
  border-bottom: 0.625rem solid transparent;
  border-left: 0.625rem solid white;
}
.menu {
  display: none;
}
.aside {
  position: fixed;
  top: -33rem;
  background-color: white;
  color: black;
  transition: all 500ms ease-in-out;
  z-index: 999;
  width: 100vw;
  height: fit-content;
}
.aside ul {
  margin: 0;
  padding: 0.625rem;
}
.aside ul li {
  padding: 0.625rem 0.3125rem;
}
.aside ul li:hover {
  color: goldenrod;
}
.aside.active {
  top: 0;
}

@media screen and (max-width: 1368px) {  
  .navLinks {
    font-size: 1rem;
    gap: 0.5rem;
  }
  .logoName h3 {
    font-size: 1.5rem;
  }
 
  .logo {
    width: 2.5rem;
    height: 2.5rem;
  }
  .activ {
    height: 4rem;
  }
  nav {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 1090px) {
  .logoName h3{
    display: none;
  }
 
  nav {
    width: 100%;
  }
}
@media screen and (max-width:768px){
  .menu {
    display: block;
  }
  .links {
    display: none;
  }

}