/* Loading.css */
.loading-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
}

.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #000;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin-bottom: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-text {
  font-family: "Bodoni", serif;
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.loading-subtext {
  font-family: "Century Schoolbook", serif;
  font-size: 18px;
  color: #555;
}
@media screen and (max-width: 600px) {
  .loading-text {
    font-size: 1.2rem;
  }
  .loading-subtext {
    font-size: 1rem;
  }
}
