main {
  display: flex;
  flex-direction: column;
}
.eventsBackground {
  background-image: url("../../assets/bg_1.jpg.webp");
  height: 50vh;
  width: 100%;
  position: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  background-attachment: fixed;
  overflow: hidden;
}

.eventsOverlay {
  position: absolute;
  overflow: hidden;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0.4;
  background-color: rgba(0, 0, 0, 0.5);
}
.eventsContent {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.eventsContent h1 {
  font-size: 3.125rem;
  font-weight: 700;
  margin-bottom: 0.625rem;
  text-align: center;
}

.eventsBreadCrumbsWrapper {
  position: absolute;
  z-index: 99;
  bottom: 2rem;
  padding-inline: 6rem;
}

.eventsBreadCrumbsWrapper h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
}

.eventsBreadCrumbs {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1.25rem;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.5);
}

.eventsBreadCrumbs span {
  display: inline-flex;
  align-items: center;
}

.eventsBreadCrumbs span a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.actualEvents {
  background-color: white;
  padding: 1rem;
  width: 80vw;
  margin: auto;
}

.singleEvent {
  display: flex;
  margin-bottom: 3.125rem;
  width: 100%;
  height: 25rem;
  overflow: hidden;
  border-radius: 0.625rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.singleEvent:nth-child(even) {
  flex-direction: row-reverse;
}

.singleEvent img {
  width: 40rem;
  object-fit: cover;
  object-position: center;
  flex: 1;
}

.singleEvent .singleEventContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 1.875rem;
}

.singleEvent .singleEventContent h2 {
  font-size: 1.875rem;
  font-weight: 600;
  margin-bottom: 1.25rem;
  color: #ffc107;
}

.singleEvent .singleEventContent span {
  font-weight: 600;
  font-size: 1.0625rem;
  margin-bottom: 0.625rem;
  color: #3f4056;
  display: flex;
  align-items: center;
  gap: 0.3125rem;
}
@media screen and (max-width: 1024px) {
  .eventsBreadCrumbsWrapper {
    padding-inline: 4rem;
  }

  .singleEvent {
    flex-direction: column;
    height: auto;
  }

  .singleEvent img {
    width: 100%;
    max-width: none;
  }

  .singleEvent .singleEventContent {
    padding-inline: 2rem;
  }

  .singleEvent .singleEventContent h2 {
    font-size: 2rem;
  }

  .singleEvent .singleEventContent span {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .eventsBreadCrumbsWrapper {
    padding-inline: 2rem;
    display: none;
  }

  .eventsBreadCrumbsWrapper h1,
  .eventsContent h1 {
    font-size: 1.5rem;
  }

  .eventsBreadCrumbs {
    font-size: 0.875rem;
    margin-bottom: 1rem;
  }

  .actualEvents {
    width: 90vw;
    padding: 0.5rem;
  }

  .singleEvent {
    margin-bottom: 2rem;
  }

  .singleEvent .singleEventContent {
    padding-inline: 1rem;
  }

  .singleEvent .singleEventContent h2 {
    font-size: 1.5rem;
  }

  .singleEvent .singleEventContent span {
    font-size: 0.8rem;
  }
}
