main {
  display: flex;
  flex-direction: column;
}

.aboutBackground {
  background-image: url("../../assets/bg_1.jpg.webp");
  height: 100dvh;
  width: 100%;
  position: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  background-attachment: fixed;
  overflow: hidden;
}
.aboutOverlay {
  position: absolute;
  overflow: hidden;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0.4;
  background-color: rgba(0, 0, 0, 0.5);
}
.aboutContent {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.aboutBreadCrumbsWrapper {
  position: absolute;
  z-index: 99;
  bottom: 2rem;
  padding-inline: 6rem;
}

.aboutContent h1 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
}
.aboutContent p {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
}
.aboutBreadCrumbsWrapper h1 {
  font-size: 40px;
  font-weight: 700;
  color: white;
}
.aboutBreadCrumbs {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.5);
}
.aboutBreadCrumbs span {
  display: inline-flex;
  align-items: center;
}
.aboutBreadCrumbs span a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .aboutBreadCrumbsWrapper {
    padding-inline: 4rem;
  }
}
@media screen and (max-width: 576px) {
  .aboutBreadCrumbsWrapper {
    padding-inline: 1rem;
  }
}

.churchHistory {
  display: block;
  padding: 10px 10px 10px;
  place-items: center;
  height: 100vh;
}
.historyContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90vh;
  width: 80vw;
  box-sizing: border-box;
  gap: 10px;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.Content {
  text-align: justify;
  padding: 20px;
  line-height: 2;
  flex: 1;
  font-size: 16px;
}
.contentImage {
  padding-top: 100px;
  overflow-x: hidden;
  flex: 1;
}

.contentImage img {
  max-width: 600px;
  height: auto;
  width: 50vw;
  border-radius: 10px;
}
.churchHistory h2 {
  color: #ffd615;
}
.ministryTeam {
  width: 80vw;
  margin: auto;
  display: block;
  padding: 20px;
  height: 100vh;
}
.ministryTeam h2 {
  color: #ffd615;
}
.churchAdministration {
  width: 80vw;
  margin: auto;
  display: block;
  padding: 20px;
  height: 100vh;
}
.churchAdministration h2 {
  color: #ffd615;
}
.ministryMembers {
  margin-inline: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.administrationMembers {
  margin-inline: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}
.singleClergy {
  display: grid;
  justify-content: center;
  align-items: center;
  /* border: black 2px solid; */
}
.singleAdmin {
  display: grid;
  justify-content: center;
  align-items: center;
}
.singleClergyContent {
  display: grid;
  text-align: center;
}
.singleAdminContent {
  display: grid;
}
.singleAdmin img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}
.singleClergy img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}
