/* General Section Styling */
Reveal h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.5rem;
}

/* Church Mission, Vision, Core Values, Community Involvement, What We Believe, Testimonies, Membership, FAQs */
.churchMission,
.churchVision,
.churchValues,
.churchCommunityInvolvement,
.churchBeliefs,
.churchTestimonies,
.churchMembership,
.churchFAQs {
  /* background-color: #f9f9f9; */
  /* border: 1px solid green; */
  padding: 1rem 0;
  /* margin-bottom: 1rem; */
  width: 90vw;
  margin: auto;
}

.churchMission p,
.Content p,
.churchVision p,
.churchCommunityInvolvement p,
.churchBeliefs p,
.churchTestimonies p,
.churchMembership p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #555;
}

.churchValues ul,
.churchFAQs ul {
  list-style-type: none;
  padding: 0;
}

.churchValues li,
.churchFAQs li {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 1rem;
}

.churchFAQs li strong {
  font-weight: bold;
}

/* Testimonies Section */
.churchTestimonies ul {
  padding-left: 20px;
}

.churchTestimonies li {
  font-style: italic;
}

/* Membership Section */
.churchMembership p {
  font-size: 1.1rem;
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: column;
}

.aboutBackground {
  background-image: url("../../assets/bg_1.jpg.webp");
  height: 50vh;
  width: 100%;
  position: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  background-attachment: fixed;
  overflow: hidden;
}

.aboutOverlay {
  position: absolute;
  overflow: hidden;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0.4;
  background-color: rgba(0, 0, 0, 0.5);
}

.aboutContent {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.aboutBreadCrumbsWrapper {
  position: absolute;
  z-index: 99;
  bottom: 2rem;
  padding-inline: 6rem;
}

.aboutContent h1 {
  font-size: 3.125rem;
  font-weight: 700;
  margin: 0;
  text-align: center;
}

.aboutBreadCrumbsWrapper h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
}

.aboutBreadCrumbs {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1.25rem;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.5);
}

.aboutBreadCrumbs span {
  display: inline-flex;
  align-items: center;
}

.aboutBreadCrumbs span a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

/* History Section */
.churchHistory {
  display: block;
  place-items: center;
  height: auto;
}

.historyContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* height: 100vh; */
  width: 90vw;
  box-sizing: border-box;
  gap: 2.5rem;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding-block: 1rem;
}

.Content {
  text-align: justify;
  line-height: 2;
  flex: 1;
  font-size: 1rem;
}

.contentImage {
  padding-top: 2rem;
  overflow-x: hidden;
  flex: 1;
}

.Content p {
  font-size: 1.2rem;
}

.contentImage img {
  max-width: 37.5rem;
  height: auto;
  width: 50vw;
  border-radius: 0.625rem;
}

/* Ministry & Administration Section */
.ministryTeam {
  width: 90vw;
  margin: auto;
  display: block;
  padding: 1.25rem;
  height: auto;
}

.ministryTeam h2,
.churchAdministration h2 {
  color: goldenrod;
  font-size: 1.8rem;
}

.churchAdministration {
  width: 90vw;
  margin: auto;
  display: block;
  padding: 1.25rem;
  height: auto;
}

.ministryMembers,
.administrationMembers {
  margin-inline: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 0;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.singleClergy,
.singleAdmin {
  display: grid;
  justify-content: center;
  align-items: center;
}

.singleClergyContent,
.singleAdminContent {
  display: grid;
  text-align: center;
}

.singleClergy img,
.singleAdmin img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}
@media screen and (max-width: 1200px) {
  .historyContent {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 90vw;
    margin: 0 auto;
  }
  .contentImage img {
    width: 80vw;
    max-width: 36rem;
  }
}
@media screen and (max-width: 1024px) {
  .aboutBreadCrumbsWrapper {
    padding-inline: 4rem;
  }
  .aboutContent h1 {
    font-size: 2.5rem;
  }

  .aboutBreadCrumbsWrapper h1 {
    font-size: 2rem;
  }

  .aboutBreadCrumbs {
    font-size: 0.875rem;
  }

  .contentImage img {
    width: 80vw;
    max-width: 45rem;
  }

  .ministryMembers,
  .administrationMembers {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-inline: 0;
    height: auto;
  }

  .singleClergy img,
  .singleAdmin img {
    width: 8rem;
    height: 8rem;
  }

  .singleAdmin,
  .singleClergy {
    display: flex;
    flex-direction: column;
    height: 16rem;
  }
}

@media screen and (max-width: 768px) {
  .aboutBreadCrumbs {
    margin-bottom: 0.1rem;
  }
  .aboutContent h1,
  .aboutBreadCrumbsWrapper h1 {
    font-size: 1.5rem;
  }
  .aboutBreadCrumbsWrapper {
    padding-inline: 1rem;
    display: none;
  }

  .churchHistory {
    width: 100%;
  }

  .historyContent {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
  }

  .Content p,
  .churchMission p,
  .churchVision p,
  .churchValues li,
  .churchFAQs li,
  .churchCommunityInvolvement p,
  .churchBeliefs p,
  .churchTestimonies p,
  .churchMembership p,
  .ministryMembers,
  .singleClergyContent span,
  .administrationMembers {
    font-size: 1rem;
  }

  .Content h2,
  .churchMission h2,
  .churchVision h2,
  .churchValues h2,
  .churchFAQs h2,
  .churchCommunityInvolvement h2,
  .churchBeliefs h2,
  .churchTestimonies h2,
  .churchMembership h2,
  .ministryTeam h2,
  .churchAdministration h2 {
    font-size: 1.3rem;
  }

  .ministryMembers,
  .administrationMembers {
    gap: 0.2rem;
    width: 90vw;
    margin: auto;
    line-height: 1.3;
  }
  .singleClergyContent span {
    font-size: 1rem;
  }

  .contentImage img {
    max-width: 80vw;
  }
  .singleClergy img,
  .singleAdmin img {
    width: 5rem;
    height: 5rem;
  }
}
